<!DOCTYPE html>
<html>
	<head>
	<title><%= title %></title>
	<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
	<script type="text/javascript" src="/javascripts/wordcloud2.js"></script>
	<script type="text/javascript" src="/javascripts/wordcloud-interface.js"></script>
	<script type="text/javascript" src="/javascripts/wordprep.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" type="text/css" href="/stylesheets/user.css">
	</head>
	<body>
		<% include ../partials/nav %>
		<div class="bodyUser">
			  <% if (owner) { %>
					<button onclick="toggleWrapCreate()" class="myButton createButton">Create +</button>
					<div class="wrap-create">
						<div class="wc-wrap">
							<canvas id="wc-canvas"></canvas>
							<div id="wc-div"></div>
						</div>
						<div class='wc-entry-wrap'>
							<form method="POST" action="/users/<%= user._id %>/clouds">
								<input id='wc-name-input' type="text" name="name" value="WordCloud Title"></input>
								<textarea id="wc-text-input" name="text"></textarea>
								<input id="wc-image-input" name='image' type="hidden"/>
								<input id="wc-tags" name='tags' type='hidden'/>
								<input id="btn-save" type="submit" onclick="fillInputs()"></input>
							</form>
						</div>
					</div>
				<% } %>
				<div class="break"></div>
				<div class="thumbGallery">
					<% if(user.clouds.length) { %>
						<% for(var i=0; i<user.clouds.length; i++) { %>
						<div class="gallery-image">
							<a href="/users/<%= user._id %>/clouds/<%= user.clouds[i]._id %>"><img src=<%= user.clouds[i].image %>></a>
						</div>
						<% } %>
					<% }else {%>
						<h3>You have no clouds! Why not try making one?</h3>
					<% } %>
				</div>
		<div>
	</body>
	<script type="text/javascript">
		$('.wrap-create').hide();
		var showing = false;
		function toggleWrapCreate() {
			if(showing) {
				showing = !showing;
				$('.wrap-create').hide(500, function() {

				});
			}else {
				showing = !showing;
				$('.wrap-create').show(500, function() {

				});
			}
		}

		$('#wc-text-input').on('keydown', function(e) {
			console.log(e);
			if(e.keyCode === 32) {
				generateWC(getWCArr($('#wc-text-input').val()));
			}
		});
		$('#wc-text-input').on('change', function() {
			generateWC(getWCArr($('#wc-text-input').val()));
		})
		$('#btn-save').on('click', function() {
			console.log("save to DB");
			console.log(getWCObj($('#wc-text-input').val()));
		});

		// Fill default textare
		$('#wc-text-input').val('Paste your WordCloud text here. No need to press enter, it will automatically begin to build your WordCloud in the section to the left. Press save when you are finished and are ready to customize your creation!');

		function fillInputs() {
			var dataURL = document.getElementById('wc-canvas').toDataURL('image/png');
			//$('#wc-image-input').val('http://www.infobarrel.com/media/image/54054.jpg');
			$('#wc-image-input').val(dataURL);
		}
	</script>
</html>

